Problem 1 : Unique words in a sentence.

In [2]:
ln=input("Enter Sentence : ")
l=ln.split()
unique = set(l)
print(f"Unique words count :{len(unique)}")
print(f"Unique words :{unique}")

Enter Sentence : python is is easy
Unique words count :3
Unique words :{'python', 'easy', 'is'}

Problem 2:Highest salary from Employee Dataset

In [8]:
employees = {
    "Ravi" : 75000,
    "Ankita":68000,
    "Kiran":72000
}

highest_paid_employee = max(employees, key=employees.get)
highest_salary = employees[highest_paid_employee]

print(f"All employee names: {list(employees.keys())}")
print(f"Highest Salary: {highest_paid_employee} - {highest_salary}")

All employee names: ['Ravi', 'Ankita', 'Kiran']
Highest Salary: Ravi - 75000

Problem 3: Find MAximum and Minimum Values

In [15]:
numbers=list(map(int,input().split(",")))

if numbers:
  max_val = numbers[0]
  min_val = numbers[0]

  for num in numbers:
    if min_val > num:
      min_val=num
    elif max_val < num:
      max_val=num
  print(f"Max :{max_val}")
  print(f"Min :{min_val}")
else:
  print("The list of numbers is empty.")

45,22,89,10,66
Max :89
Min :10

Problem 4: Count Products above a Price threshold

In [16]:
prices = list(map(int,input().split(",")))
threshold=1000
l=[]
for price in prices:
  if price > threshold:
    l.append(price)
print(f"Products above {threshold} :{len(l)}")

450,1200,899,1500,300
Products above 1000 :2

Problem 5: Calculate Attendance Percentage

In [38]:
attendance = list(map(str,input("Only P and A:").split(",")))
prsent=attendance.count("P")
percentage=(prsent/len(attendance))*100
print(f"Attendance percentage :{percentage}")

Only P and A:P,P,P,P
Attendance percentage :100.0

Problem 6 : Remove Duplicates Phone Number

In [27]:
numbers=list(map(int,input().split(",")))
unique_numbers =set(numbers)
print(f"Unique phone numbers :{unique_numbers}")

9876543210, 9123456789, 9876543210
Unique phone numbers :{9876543210, 9123456789}

Problem 7 :Count Character Frequency

In [31]:
s=input()
d={}
for char in s:
  if char in d:
    d[char]+=1
  else:
    d[char]=1
print(d)

python progamming
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, ' ': 1, 'r': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

Problem 8 : Convert List to Tuple

In [32]:
l=list(map(int,input().split(",")))
t=tuple(l)
print(f"Tuple : {t}")

10,20,30,40
Tuple : (10, 20, 30, 40)

Problem 9: Check if a key exists in a dictionary

In [35]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
s=input()

if s in employees:
  print(f"{s} exists")
else:
  print(f"Not Exists")

Kiran
Kiran exists

Problem 10: Calculate Average MArks

In [36]:
marks=list(map(int,input().split(",")))
avg=sum(marks)/len(marks)
print(f"Average Marks :{avg}")

10,70,40,30
Average Marks :37.5